                 * {
                     margin: 0;
                     padding: 0;
                 }
                 body {
                     font-family: Arial;
                     background: #fff url(../images/backg.jpeg) repeat top left;
                 }
                 #content {
                     margin: 0 auto;
                 }
                 .reference {
                     clear: both;
                     top: 300px;
                     left: 0px;
                     position: absolute;
                     text-align: right;
                     padding: 20px;
                     background-color: aliceblue;
                     -moz-box-shadow: 1px 6px 20px #ddd234;
                     -webkit-box-shadow: 1px 6px 20px #ddd234;
                     box-shadow: 1px 6px 20px #ddd234;
                 }
                 .reference p a {
                     text-transform: uppercase;
                     text-shadow: 1px 1px 1px #fff;
                     color: #666;
                     text-decoration: none;
                 }
                 a {
                     color: #444444;
                 }
                 a:hover {
                     color: #949559;
                 }
                 .title {
                     width: 500px;
                     height: 152px;
                     position: absolute;
                     top: 0px;
                     left: 0px;
                 }
                 .reference p a:hover {
                     color: #376345;
                 }
                 .description {
                     position: absolute;
                     width: 480px;
                     height: 175px;
                     bottom: 0px;
                     left: 0px;
                     display: none;
                 }
                 .description h2 {
                     color: #444;
                     text-align: left;
                     text-transform: uppercase;
                     font-style: normal;
                     font-weight: bold;
                     letter-spacing: 1px;
                     font-size: 45px;
                     margin: 0px 0px 15px 20px;
                     text-shadow: -1px -1px 1px #ccc;
                 }
                 .description a {
                     position: absolute;
                     font-style: normal;
                     font-size: 11px;
                     text-decoration: none;
                     color: #888;
                     bottom: 5px;
                     left: 20px;
                     text-transform: uppercase;
                 }
                 .description p {
                     line-height: 14px;
                     margin: 10px 22px;
                     font-size: 12px;
                     letter-spacing: normal;
                     line-height: 1.6em;
                 }
                 .description a:hover {
                     text-decoration: underline;
                 }
                 .sectnDes {
                     height: 340px;
                     left: 0px;
                     width: 100%;
                     display: none;
                     position: absolute;
                     bottom: 0px;
                     background: transparent url(../images/separator.png) repeat-x top left;
                 }
                 .wond {
                     list-style: none;
                     position: absolute;
                     right: 80px;
                     top: 0px;
                     font-family: Cambria, serif;
                     font-size: 16px;
                     font-style: italic;
                     line-height: 1.5em;
                 }
                 .wond li {
                     float: right;
                     width: 115px;
                     height: 480px;
                     display: block;
                     border-right: 2px solid #ddd343;
                     border-bottom: 2px solid #ddd343;
                     background-color: #34495E;
                     background-repeat: no-repeat;
                     background-position: center center;
                 }
                 .wond li .heading {
                     background-color: #fff;
                     padding: 10px;
                     margin-top: 20px;
                     opacity: 0.9;
                     text-transform: uppercase;
                     letter-spacing: 1px;
                     font-size: 14px;
                     color: #444;
                     text-align: center;
                     text-shadow: -1px -1px 1px #ddd345;
                 }
