form label {
    display: block;
    /* block float the labels to left column, set a width */
    float: right;
    padding: 0;
    margin: 5px 0 0;
    /* set top margin same as form input - textarea etc. elements */
    text-align: right;
}
body {
    background-image: url(../images/backg.jpeg);
}
